
//SUCCESS
$success-1: #5ab261;
$success-2: #bbdebe;
$success-3: #86c58b;
$success-4: #43954a;
$success-5: #266a2c;
$success-6: #19401d;

//INFO
$info-1: #14fff7;
$info-2: #9dfffc;
$info-3: #65eeea;
$info-4: #0eb3ad;
$info-5: #2da6a3;
$info-6: #0a7f7c;

//WARNING
$warning-1: #ffbd00;
$warning-2: #ffe397;
$warning-3: #ffd259;
$warning-4: #e6a800;
$warning-5: #bd8c04;
$warning-6: #815f02;

//DANGER
$danger-1: #ff003b;
$danger-2: #ffa6a6;
$danger-3: #ff5c5c;
$danger-4: #e60036;
$danger-5: #bf002d;
$danger-6: #8e0525;

//GRAY
$gray-1: #c6c3c3;
$gray-2: #c6c3c3;
$gray-3: #acaaaa;
$gray-4: #8b8989;
$gray-5: #757474;

//DARK GRAY
$dark-gray: #3e3e3e;
$dark-gray-1: #4f4f4f;
$dark-gray-2: #373737;
$dark-gray-3: #232323;

//POSITIVE/NEGATIVE
$plain-black: #000000;
$plain-white: #ffffff;

//NEUTRAL
$neutral: #f3f3f3;
$neutral-1: #ededed;
$neutral-2: #e3e1e1;
$neutral-3: #aaaaaa;


// GENERAL
$shadow: #e3e1e1;
$disabled-color: #e3e1e1;
$place-holder-color: $neutral-2;

// BOX-SHADOW
$dpw-box-shadow: 0px 4px 10px rgba(25, 8, 64, 0.1);

