<div #nestedChoiceField class="nested-choice-field">
  <button class="select-trigger" (click)="open()" #origin>
    <label
      *ngIf="labelText"
      [attr.data-instance]="instance"
      [class.opened]="isOpen"
      [class.has-option]="currentOption"
    >
      {{ labelText }}
      <i *ngIf="required">*</i>
    </label>
    <div class="wrapper-select-trigger" [attr.data-instance]="instance">
      <mat-spinner
        *ngIf="searching"
        color="accent"
        [diameter]="25"
      ></mat-spinner>
      <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
      <ng-container *ngIf="searchbox !== false">
        <ng-template [ngIf]="!isOpen" [ngIfElse]="searchTpl">
          <span
            *ngIf="currentOption"
            class="selected"
            [attr.data-label]="label"
            [class.has-icon]="icon.path"
            [attr.data-instance]="instance"
            (mouseenter)="mouseEnter($event, label)"
          >
            <img
              *ngIf="icon.type === 'img'"
              [attr.data-instance]="instance"
              [src]="icon.path"
            />
            <mat-icon
              *ngIf="icon.type === 'matIcon'"
              [attr.data-instance]="instance"
            >
              {{ icon.path }}
            </mat-icon>
          </span>
        </ng-template>
        <ng-template #searchTpl>
          <input
            autofocus
            type="search"
            [placeholder]="placeholderSearch"
            [formControl]="searchControl"
          />
        </ng-template>
      </ng-container>
      <ng-template #dropdown>
        <div class="select-menu" [style.width.px]="widthSelectMenu">
          <cdk-virtual-scroll-viewport
            class="select-menu-inner"
            itemSize="32"
            [style.height.px]="visibleOptions * 32"
          >
            <div class="no-results-item" *ngIf="!data.length">
              No results found
            </div>
            <select-item
              *cdkVirtualFor="let option of data"
              [idKey]="idKey"
              [labelKey]="labelKey"
              [iconKey]="iconKey"
              [data]="[option]"
              [instance]="instance"
              [isActive]="isActive.bind(this)"
              [select]="select.bind(this)"
              [openList]="openList.bind(this)"
              [parseIcon]="parseIcon.bind(this)"
              [mouseEnter]="mouseEnter.bind(this)"
            >
            </select-item>
          </cdk-virtual-scroll-viewport>
        </div>
      </ng-template>
    </div>
  </button>
</div>
