@import 'variables';
@import 'mixings';
@import 'fonts';

.select-item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 100%;
  height: 32px;
  position: relative;
  box-sizing: border-box;

  .opened-class {
    background-color: $neutral;
    border-bottom: 1px solid rgba($shadow, 0.5);
  }

  &:hover {
    background-color: transparent;

    span {
      background-color: rgba($neutral-1, 0.5);
    }
  }

  &.has-child {
    min-height: 32px;
    height: auto;

    .mat-icon {
      position: absolute;
      right: 0;
      opacity: 0.6;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.active {
      background-color: transparent;
      span {
        background-color: $neutral-1;
      }
    }

    span {
      &.opened {
        @extend .opened-class;
      }
    }
  }

  &.active {
    background-color: $neutral-1;
  }

  span {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 5px 15px;
    height: 32px;
    position: relative;
    box-sizing: border-box;

    &::before {
      content: attr(data-label);
      @include truncate();
      display: block;
      width: 100%;
    }

    &.has-icon {
      padding-right: 32px;

      img {
        position: absolute;
        right: 18px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 18px;
        height: 18px;
      }

      .mat-icon {
        display: block;
        position: absolute;
        right: 18px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 18px;
        height: 18px;
        font-size: 18px;
        color: $gray-5;
      }
    }
  }

  .child-list {
    display: none;
    width: 100%;
    height: 0;
    position: relative;
    grid-template-columns: 1fr;
    align-items: center;
    box-sizing: border-box;

    &.opened {
      display: grid;
      height: auto;
    }

    select-item {
      .select-item {
        span {
          background-color: transparent;
          &.opened {
            @extend .opened-class;
          }
          &:not(.opened) {
            &:hover {
              background-color: rgba($neutral-1, 0.5);
            }
          }
        }
      }
    }
  }
}
