<nested-choice-field
  [required]="true"
  [labelText]="'Select an option'"
  [placeholderSearch]="'Buscar'"
  [data]="data"
></nested-choice-field>
&nbsp;

<mat-form-field appearance="fill">
  <mat-label>Por favor elige una de las siguientes opciones</mat-label>
  <mat-select required>
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
